# Node.js
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Python
__pycache__/
*.pyc
venv/

# OS
.DS_Store
Thumbs.db

# Env files
.env
.env.local

# Other
server/temp/
server/tempQuestions/
server/audio/

